.Linker-reddit-container {
    width: 320px;
    text-align: left;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.Linker-reddit-image {
    display: block;
    margin: auto;
    width: 320px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Linker-reddit-selftext {
    padding: 16px;
    margin: 0px;
}

.Linker-reddit-footer {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    align-items: center;
}

.Linker-reddit-post-title {
    text-align: left;
    font-size: 16px;
    padding: 16px;
    width: 100%!important;
    flex: 1 1 calc(100% - 100px);
}

.Linker-reddit-logo {
    width: 45px;
    height: 45px;
    margin-left: 16px;
    flex: 0 0 45px;
}

.Linker-reddit-post-details {
    justify-content: center;
    padding: 16px 16px 16px 16px;
    font-size: 14px;
}

.Linker-reddit-upvote-icon {
    height: 1em;
}

.Linker-reddit-comment-icon {
    top: 2px;
    height: 1em;
    position: relative;
    margin-left: 8px;
}


/*

.Linker-reddit-top,
.Linker-reddit-post-details {
    padding: 10px;
    color: grey;
    display: inline;
    font-size: 12px;
    text-decoration: none;
}*/