.Linker-twitter-container {
    width: 559px;
    font-size: 14px;
    line-height: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 16px;
    /* margin: 3px; */
    border: solid 1px #e6ecf0;
    cursor: pointer;
    text-align: left;
}

.Linker-twitter-author-container {
    display: flex;
    flex-direction: column;
}

.Linker-twitter-container img {
    border-radius: 50%!important;
}

.Linker-twitter-hover {
    font-size: 16px;
}

.Linker-twitter-at {
    color: #727171;
}

.Linker-twitter-content {
    margin-top: 1px;
    max-height: 80px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.Linker-twitter-source {
    color: #657786;
    font-size: 14px;
    line-height: 20px;
}

.Linker-twitter-date {
    color: #727171;
    font-size: 14px;
}